body{
	background-color: lightgray;
	display: flex;
	justify-content:center;
	align-items: center;
	padding:20px;
	font-family:sans-serif,serif;
}
.left-panel{
	width: 330px;
	height:1150px;
	background-color:DarkSlateGray;
}
.right-panel{
	width: 780px;
	height:1150px;
	background-color:white;
}
.text-content{
	font-size: 20px;
	color:white;
	padding: 20px;
	padding-top:0px;

}
.text-content p b {
  font-size: 30px;
  display: block;
}
.top{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 40px;
	display: flex;
	justify-content:center;
}
.title{
	font-size: 20px;
	padding: 20px;
	display: flex;
  	flex-direction: column;
 	gap: 30px;
}
.title h2{
	font-size: 30px;
	margin-bottom: 0px;
}
.year {
  display: flex;
  gap: 20px;
}

.date {
  flex-basis: 100px;
  flex-shrink: 0;
  font-weight: bold;
}

.description {
  flex-grow: 1;
}
.music {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    margin: 20px 0;
    overflow: hidden;
}
.music a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
}
.music img {
    margin-bottom: 5px;
    border-radius: 10px;
}
.note{
    font-size: 14px;
    font-style: italic;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
    text-align: center;
    margin: 20px auto;
    padding: 0 10px;
    color:#555
}








